[submodule "data-unifier"]
	path = data-unifier
	url = https://github.com/PashkevichValetin/data-unifier.git
[submodule "dmonitorapp"]
	path = dmonitorapp
	url = https://github.com/PashkevichValetin/dmonitorapp.git
[submodule "reactor-adapter-kit"]
	path = reactor-adapter-kit
	url = https://github.com/PashkevichValetin/reactor-adapter-kit.git
[submodule "gateway-service"]
	path = gateway-service
	url = https://github.com/PashkevichValetin/gateway-service.git
